{% extends 'base.html' %}


{% block extra_css %}
{% include 'partials/modern_theme.html' %}
{% endblock %}
{% block content %}
<div class="container page-shell">
{% if object %}
    {% include 'partials/page_header.html' with title="编辑维修请求" subtitle="更新维修问题信息" %}
{% else %}
    {% include 'partials/page_header.html' with title="提交维修请求" subtitle="填写维修问题信息" %}
{% endif %}
<div class="card shadow-sm section-card">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                
                <button type="submit" class="btn btn-primary">
                    {% if object %}更新{% else %}提交{% endif %}
                </button>
                <a href="{% url 'communication:maintenance_list' %}" class="btn btn-secondary">取消</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}